<mat-card>
    <mat-card-title>Alternate Tempo</mat-card-title>
    <mat-card-content>

        <app-alternate-tempo-form [alternateTempo]="alternateTempo"></app-alternate-tempo-form>

    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button *ngIf="!batService.inSession"
            (click)="batService.start(alternateTempo)">
            <mat-icon>play_arrow</mat-icon>Start</button>
        <button mat-raised-button *ngIf="batService.inSession"
            (click)="batService.stop()">
            <mat-icon *ngIf="batService.inSession && batService.tempoBeat == 0">autorenew</mat-icon>
            <mat-icon *ngIf="batService.inSession && batService.tempoBeat == 1">cached</mat-icon>
            <mat-icon>volume_up</mat-icon><mat-icon>stop</mat-icon>Stop</button>
        <!-- <button mat-flat-button><mat-icon>volume_up</mat-icon></button> -->
    </mat-card-actions>
</mat-card>
