<mat-card>
    <mat-card-title>Alternate Tempo</mat-card-title>
    <mat-card-content>
    <div>
        <mat-form-field>
        <mat-label>Tempo</mat-label>
        <input matInput placeholder="Tempo"
            [(ngModel)]="alternateTempo.tempo">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
        <mat-label>Go Beats</mat-label>
        <input matInput placeholder="Go Beats"
            [(ngModel)]="alternateTempo.goBeats">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
        <mat-label>Stop Beats</mat-label>
        <input matInput placeholder="Stop Beats"
            [(ngModel)]="alternateTempo.stopBeats">
        </mat-form-field>
    </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button *ngIf="!batService.inSession"
            (click)="batService.start(alternateTempo)">
            <mat-icon>play_arrow</mat-icon>Start</button>
        <button mat-raised-button *ngIf="batService.inSession"
            (click)="batService.stop()">
            <mat-icon *ngIf="batService.inSession && batService.tempoBeat == 0">autorenew</mat-icon>
            <mat-icon *ngIf="batService.inSession && batService.tempoBeat == 1">cached</mat-icon>
            <mat-icon>volume_up</mat-icon><mat-icon>stop</mat-icon>Stop</button>
        <!-- <button mat-flat-button><mat-icon>volume_up</mat-icon></button> -->
    </mat-card-actions>
</mat-card>
