<table mat-table width="100%" matSort
    [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="broker">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Broker </th>
      <td mat-cell *matCellDef="let row">

        {{row.broker}}

      </td>
    </ng-container>

    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticker </th>
      <td mat-cell *matCellDef="let row">
        <a [href]="uiService.hqQUrl(row.ticker)"
          target="_blank">
          {{row.ticker}}</a>
        |
        <a [href]="uiService.hqCUrl(row.ticker)"
          target="_blank">
          C</a>
        |
        <a [routerLink]="['/hqhistory/:csvPath']"
           [queryParams]="{csvPath: row.csvPath}"
          target="_blank">H</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="shares">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Shares </th>
      <td style="text-align: right;" mat-cell *matCellDef="let row">
        <a *ngIf="!row.buyDate"
          (click)="groupSelected(row[groupBy])"
          title="Show more ..."
          href="javascript:">+</a>
        {{row.shares}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="buyPrice">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Buy Price </th>
      <td [class]="uiService.cssGainLoss(row.soldPrice - row.buyPrice)"
        mat-cell *matCellDef="let row">
        {{row.buyPrice | currency:'USD':symbol:'.2-2'}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="soldPrice">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Sold Price </th>
      <td class="alignR"
        mat-cell *matCellDef="let row"> {{row.soldPrice}} </td>
    </ng-container>
  
    <ng-container matColumnDef="buyDate">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Date Bought </th>
      <td style="text-align: center;" mat-cell *matCellDef="let row">
        {{row.buyDate | date: 'MM/dd/yyyy'}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="soldDate">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Date Sold </th>
      <td style="text-align: center;" mat-cell *matCellDef="let row">
        {{row.soldDate | date: 'MM/dd/yyyy'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="buyCost">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef>Cost </th>
      <td class="alignR" mat-cell *matCellDef="let row">
        <span *ngIf="row.soldPrice !== ''">
        {{ row.buyCost | currency:'USD':symbol:'.2-2'}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="gainLoss">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef>Gain/Loss</th>
      <td [class]="uiService.cssGainLoss(row.soldPrice - row.buyPrice)"
        mat-cell *matCellDef="let row">
        <span *ngIf="row.soldPrice !== ''">
        {{row.shares * (row.soldPrice - row.buyPrice) | currency:'USD':symbol:'.2-2'}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="gainLossP">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef>Gain/Loss %</th>
      <td [class]="uiService.cssGainLoss(+row.soldPrice - row.buyPrice)"
        mat-cell *matCellDef="let row">
        <span *ngIf="row.soldPrice !== ''">
        {{100 * (row.soldPrice - row.buyPrice) / row.buyPrice | number:'.2-2'}}%
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
