<table mat-table width="100%"
    [dataSource]="portfolio" class="mat-elevation-z8">

    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef> Ticker </th>
      <td mat-cell *matCellDef="let element"> {{element.ticker}} </td>
    </ng-container>
  
    <ng-container matColumnDef="shares">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Shares </th>
      <td style="text-align: right;" mat-cell *matCellDef="let element"> {{element.shares}} </td>
    </ng-container>
  
    <ng-container matColumnDef="buyPrice">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Buy Price </th>
      <td style="text-align: right;" mat-cell *matCellDef="let element"> {{element.buyPrice}} </td>
    </ng-container>
  
    <ng-container matColumnDef="soldPrice">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Sold Price </th>
      <td style="text-align: right;" mat-cell *matCellDef="let element"> {{element.soldPrice}} </td>
    </ng-container>
  
    <ng-container matColumnDef="buyDate">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Date Bought </th>
      <td style="text-align: center;" mat-cell *matCellDef="let element">
        {{element.buyDate | date: 'MM/dd/yyyy'}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="soldDate">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Date Sold </th>
      <td style="text-align: center;" mat-cell *matCellDef="let element">
        {{element.soldDate | date: 'MM/dd/yyyy'}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="broker">
      <th mat-header-cell *matHeaderCellDef> Broker </th>
      <td mat-cell *matCellDef="let element"> {{element.broker}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  