<table mat-table width="100%" matSort
    [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="broker">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Broker </th>
      <td mat-cell *matCellDef="let row"> {{row.broker}} </td>
    </ng-container>

    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticker </th>
      <td mat-cell *matCellDef="let row">
        <a [href]="uiService.hqRobotJson.hqUrl.c.replace('{}', row.ticker)"
          target="_blank">
          {{row.ticker}}
        </a>
        <!-- <a [href]='hqConf.hqUrl.c.replace("{}", row.ticker)'
          target="_blank">c</a> -->
      </td>
    </ng-container>
  
    <ng-container matColumnDef="shares">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Shares </th>
      <td style="text-align: right;" mat-cell *matCellDef="let row"> {{row.shares}} </td>
    </ng-container>
  
    <ng-container matColumnDef="buyPrice">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Buy Price </th>
      <td style="text-align: right;" mat-cell *matCellDef="let row"> {{row.buyPrice}} </td>
    </ng-container>
  
    <ng-container matColumnDef="soldPrice">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Sold Price </th>
      <td style="text-align: right;" mat-cell *matCellDef="let row"> {{row.soldPrice}} </td>
    </ng-container>
  
    <ng-container matColumnDef="buyDate">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Date Bought </th>
      <td style="text-align: center;" mat-cell *matCellDef="let row">
        {{row.buyDate | date: 'MM/dd/yyyy'}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="soldDate">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Date Sold </th>
      <td style="text-align: center;" mat-cell *matCellDef="let row">
        {{row.soldDate | date: 'MM/dd/yyyy'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="gainLoss">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Gain/Loss </th>
      <td style="text-align: right;" mat-cell *matCellDef="let row">
        <span *ngIf="row.soldPrice !== ''">
        {{+row.shares * (+row.soldPrice - row.buyPrice) | currency:'USD':symbol:'.2-2'}}
        </span>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="gainLossP">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Gain/Loss % </th>
      <td style="text-align: right;" mat-cell *matCellDef="let row">
        <span *ngIf="row.soldPrice !== ''">
        {{100 * (+row.soldPrice - row.buyPrice) / row.buyPrice | number:'.2-2'}}%
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  