<!-- {{ csvPath }} -->
<table mat-table matSort
    width="100%"
    [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef><b>{{ticker}}</b></th>
    <td mat-cell *matCellDef="let i = index">{{i}}</td>
    </ng-container>

    <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let row"> {{row.Date}} </td>
    </ng-container>

    <ng-container matColumnDef="Open">
    <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Open </th>
    <td style="text-align: right;" mat-cell *matCellDef="let row"> {{row.Open}} </td>
    </ng-container>

    <ng-container matColumnDef="High">
    <th style="text-align: right;" mat-header-cell *matHeaderCellDef> High </th>
    <td style="text-align: right;" mat-cell *matCellDef="let row"> {{row.High}} </td>
    </ng-container>

    <ng-container matColumnDef="Low">
    <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Low </th>
    <td style="text-align: right;" mat-cell *matCellDef="let row"> {{row.Low}} </td>
    </ng-container>

    <ng-container matColumnDef="Close">
    <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Close </th>
    <td [class]="uiService.cssGainLoss(row.closeChange)"
        mat-cell *matCellDef="let row"> {{row.Close}} </td>
    </ng-container>

    <ng-container matColumnDef="Adj_Close">
    <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Adj Close </th>
    <td style="text-align: right;" mat-cell *matCellDef="let row"> {{row.Adj_Close}} </td>
    </ng-container>

    <ng-container matColumnDef="Volume">
    <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Volume </th>
    <td style="text-align: right;" mat-cell *matCellDef="let row"> {{row.Volume}} </td>
    </ng-container>

    <ng-container matColumnDef="hlDelta">
    <th style="text-align: right;" mat-header-cell *matHeaderCellDef>HL %</th>
    <td style="text-align: right;" mat-cell *matCellDef="let row">
        {{ 100 * row.hlDelta | number: '.2-2'}}%
    </td>
    </ng-container>

    <ng-container matColumnDef="hcDelta">
    <th style="text-align: right;" mat-header-cell *matHeaderCellDef>HC %</th>
    <td style="text-align: right;" mat-cell *matCellDef="let row">
        {{ 100 * row.hcDelta | number: '.2-2'}}%
    </td>
    </ng-container>

    <ng-container matColumnDef="closeChange">
    <th style="text-align: right;" mat-header-cell *matHeaderCellDef>C %</th>
    <td [class]="uiService.cssGainLoss(row.closeChange)"
        mat-cell *matCellDef="let row">
        {{ 100 * row.closeChange | number: '.2-2'}}%
    </td>
    </ng-container>

    <ng-container matColumnDef="volChange">
    <th style="text-align: right;" mat-header-cell *matHeaderCellDef>Vol %</th>
    <td [class]="uiService.cssGainLoss(row.volChange)"
        mat-cell *matCellDef="let row">
        {{ 100 * row.volChange | number: '.2-2'}}%
    </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
