<div *ngIf="piImgs.length > 0" style="width: 100%;">
    <span *ngFor="let piImg of piImgs; let i = index">
        <img style="width: 50%"
            [src]="piImg.url"
            [class]="piImg.rotate ? 'rotate' : ''"
            (click)="piImgOnClick(piImg)"
            alt="Pi {{piImg.url}}">
    </span>
</div>
<!-- full picture -->
<div *ngIf="piImgs.length > 0" style="width: 100%;">
    <span *ngFor="let piImg of piImgs">
        <img *ngIf="piImg.show"
            [src]="piImg.url"
            [class]="piImg.rotate ? 'rotate' : ''"
            (click)="piImgOnClick(piImg)">
    </span>
</div>

<mat-form-field>
    <mat-label>Hours Ago</mat-label>
    <input matInput placeholder="Hours Ago" type="number"
        [(ngModel)]="hoursAgo">
</mat-form-field>
<mat-form-field>
    <mat-label>Minutes Ago</mat-label>
    <input matInput placeholder="Minutes Ago" type="number"
        [(ngModel)]="minutesAgo">
</mat-form-field>

{{timestamp | date: 'MM/dd/yyyy HH:mm:ss'}}
<!-- <mat-card>
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Timestamp: {{timestamp | date: 'MM/dd/yyyy HH:mm:ss'}}</mat-card-title>
        <mat-card-subtitle>Timestamp: {{timestamp | date: 'HH:mm:ss'}}</mat-card-subtitle>
    </mat-card-header>

    all sreen refresh: not good
    <span *ngFor="let piImg of piImgs; index as i">
        <img mat-card-image style="width: 50%" [src]="piImgs[i]" alt="Pi {{piImg}}">
    </span>
    <span *ngFor="let i of [1, 0]">
        <img mat-card-image style="width: 50%" [src]="piImgs[i]" alt="Pi {{i}}">
    </span>

    <mat-card-content>
        <mat-card-title>Timestamp: {{timestamp | date: 'MM/dd/yyyy HH:mm:ss'}}</mat-card-title>
    </mat-card-content>

</mat-card> -->
