<div style="width: 100%;">
    <img style="width: 50%" 
        *ngFor="let i of [1, 0]"
        [src]="piImgs[i]"
        alt="Pi {{i}}">
</div>
<mat-form-field>
    <mat-label>Hours Ago</mat-label>
    <input matInput placeholder="Hours Ago" type="text"
        [(ngModel)]="hoursAgo">
</mat-form-field>

{{timestamp | date: 'MM/dd/yyyy HH:mm:ss'}}
<!-- <mat-card>
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Timestamp: {{timestamp | date: 'MM/dd/yyyy HH:mm:ss'}}</mat-card-title>
        <mat-card-subtitle>Timestamp: {{timestamp | date: 'HH:mm:ss'}}</mat-card-subtitle>
    </mat-card-header>

    all sreen refresh: not good
    <span *ngFor="let piImg of piImgs; index as i">
        <img mat-card-image style="width: 50%" [src]="piImgs[i]" alt="Pi {{piImg}}">
    </span>
    <span *ngFor="let i of [1, 0]">
        <img mat-card-image style="width: 50%" [src]="piImgs[i]" alt="Pi {{i}}">
    </span>

    <mat-card-content>
        <mat-card-title>Timestamp: {{timestamp | date: 'MM/dd/yyyy HH:mm:ss'}}</mat-card-title>
    </mat-card-content>

</mat-card> -->
