<mat-form-field style="width: 82px;">
  <mat-label>date</mat-label>
  <input matInput [matDatepicker]="picker" [value]="today" readonly>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<span style="font-family: Geneva, 'Lucida Sans Regular', 'Lucida Grande', sans-serif">

  | <span (click)="etIraShortTerm()">ETIRA Short Term</span>
  | ndaysHL:

  <span *ngFor="let n of ndaysList">
    <span (click)="getHqHl(n)">{{ n }}</span> | </span>

</span>


<app-hqhl-list [hqhl]="selectedHqHl"></app-hqhl-list>