<mat-card>
<!-- <h2>Welcome to {{ title }}!</h2> -->
</mat-card>

<button mat-raised-button routerLink="/monitor" color="primary">Monitor</button>
<button mat-raised-button routerLink="/at-collection" color="primary">Exercise</button>
<!-- <div style="text-align:left">
<button mat-raised-button [matMenuTriggerFor]="exerciseMenu">Exercise<mat-icon>keyboard_arrow_down</mat-icon></button>
<mat-menu #exerciseMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="/bat">Basic Alternate Tempo</button>
  <button mat-menu-item routerLink="/at-collection">Alternate Tempo Collection</button>
  <button mat-menu-item routerLink="/bat-counter">BAT Counter</button>
</mat-menu>
</div> -->


<!-- <nav>
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav> -->

<router-outlet></router-outlet>
