<mat-tab-group>

    <mat-tab label="Educations">
        <mat-nav-list *ngIf="educations != null">
            <mat-list-item *ngFor="let edu of educations">
            <mat-icon matListIcon>school</mat-icon>
            <a [href]="edu.url" target="_blank">{{ edu.title }}</a>
            <!-- &nbsp; | {{ edu.category }} -->
            </mat-list-item>
        </mat-nav-list>
    </mat-tab>

    <mat-tab label="Notes">
        <mat-nav-list *ngIf="notes != null">
            <mat-list-item *ngFor="let note of notes">
            <a [href]="note.url" target="_blank">{{ note.text }}</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-tab>

    <mat-tab label="Library">
        <mat-nav-list *ngIf="bookmarksCollection != null">
            <mat-list-item *ngFor="let bookmark of bookmarksCollection">
            <mat-icon matListIcon>library_books</mat-icon>
            <a [href]="bookmark.url" target="_blank">{{ bookmark.title }}</a>
            &nbsp; | {{ bookmark.category }}
            </mat-list-item>
        </mat-nav-list>
    </mat-tab>

    <mat-tab label="HQ">
        <div>
            <div style="float: left; padding-left: 20px;">
            <mat-form-field style="width: 64px;">
                <mat-label>hq</mat-label>
                <input matInput placeholder="hq" type="number"
                    [(ngModel)]="hqPrice">
            </mat-form-field>
            </div>
            <div style="float: left; padding-left: 10px;">
                <table>
                    <tr>
                        <td *ngFor="let i of percentList" style="color: blue; text-align: right;">
                            {{ 100 * i | number: .0 }}%
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let i of percentList" style="text-align: right;">
                            &nbsp;{{ hqPrice + hqPrice * i | currency:'USD':symbol: '.2-2' }}
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let i of percentList" style="color: red; text-align: right;">
                            <span *ngIf="i > 0">
                            &nbsp;{{ hqPrice - hqPrice * i | currency:'USD':symbol: '.2-2' }}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="clear: left"></div>
        </div>
        
        <table *ngIf="hqCollection != null" width="100%">
        <tr>

        <td valign="top" *ngFor="let cat of ['etf', 'idx', 'tickers']">
        <mat-nav-list>
            <mat-list-item *ngFor="let ticker of hqCollection[cat]">
            <mat-icon matListIcon>insert_chart_outlined</mat-icon>
            <a style="width: 96px;" [href]="hqUrl(ticker)" target="_blank">{{ ticker }}</a>
            <a style="width: 16px;" [href]="hqChart(ticker)" target="_blank">C</a>
            <a [href]="hqHistory(ticker)" target="_blank">H</a>
            </mat-list-item>
        </mat-nav-list>
        </td>

        </tr>
        </table>
    </mat-tab>
</mat-tab-group>
