<mat-tab-group>

    <mat-tab label="Educations">
        <mat-nav-list *ngIf="educations != null">
            <mat-list-item *ngFor="let edu of educations">
            <mat-icon matListIcon>school</mat-icon>
            <a [href]="edu.url" target="_blank">{{ edu.title }}</a>
            <!-- &nbsp; | {{ edu.category }} -->
            </mat-list-item>
        </mat-nav-list>
    </mat-tab>

    <mat-tab label="Notes">
        <mat-nav-list *ngIf="notes != null">
            <mat-list-item *ngFor="let note of notes">
            <a [href]="note.url" target="_blank">{{ note.text }}</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-tab>

    <mat-tab label="Library">
        <mat-nav-list *ngIf="bookmarksCollection != null">
            <mat-list-item *ngFor="let bookmark of bookmarksCollection">
            <mat-icon matListIcon>library_books</mat-icon>
            <a [href]="bookmark.url" target="_blank">{{ bookmark.title }}</a>
            &nbsp; | {{ bookmark.category }}
            </mat-list-item>
        </mat-nav-list>
    </mat-tab>

    <mat-tab label="HQ">
    <div>
    <div style="float: left;">
        <app-hq-percent-list></app-hq-percent-list>
    </div>

    <div style="float: left;">
        <table width="100%" *ngIf="hqConf">
        <tr>

        <td valign="top" *ngFor="let cat of hqCategory">
        <mat-nav-list>
            <mat-list-item *ngFor="let ticker of hqConf[cat]">
            <mat-icon matListIcon>insert_chart_outlined</mat-icon>
            <a style="width: 96px;" [href]="uiService.hqQUrl(ticker)" target="_blank">{{ ticker }}</a>
            <a style="width: 16px;" [href]="uiService.hqCUrl(ticker)" target="_blank">C</a>
            <a [href]="uiService.hqHUrl(ticker)" target="_blank">H</a>
            </mat-list-item>
        </mat-nav-list>
        </td>

        </tr>
        </table>
    </div>

    <div style="clear: left;"></div>
    </div>
    </mat-tab>
</mat-tab-group>
