<mat-tab-group>

    <mat-tab label="Open">
        <app-group-portfolio-list
            groupBy="ticker"
            [portfolio]="portfolioOpen"></app-group-portfolio-list>

    </mat-tab>

    <mat-tab label="Test">
    <app-portfolio-list
        (onGroupSelected)="groupTickerSelected($event)"
        [portfolio]="groupPortfolioOpen"></app-portfolio-list>

    <br>
    <app-portfolio-list *ngIf="groupTicker"
        [portfolio]="groupList"></app-portfolio-list>
    </mat-tab>

    <mat-tab label="Close">
    <app-portfolio-list
        [portfolio]="portfolioClose"></app-portfolio-list>
    </mat-tab>

</mat-tab-group>
