<table mat-table width="100%" matSort
    [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticker </th>
      <td mat-cell *matCellDef="let row">
        <a [href]="uiService.hqQUrl(row.ticker)"
          target="_blank">
          {{row.ticker}}</a>
        |
        <a [href]="uiService.hqCUrl(row.ticker)"
          target="_blank">
          C</a>
        |
        <a [routerLink]="['/hqhistory/:csvPath']"
           [queryParams]="{csvPath: row.csvPath}"
          target="_blank">H</a>

      </td>
    </ng-container>

    <ng-container matColumnDef="cDate">
        <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Date </th>
        <td style="text-align: center;" mat-cell *matCellDef="let row">
          {{row.cDate | date: 'MM/dd/yyyy'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="cClose">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> Close </th>
      <td class="alignR" mat-cell *matCellDef="let row">
        {{row.cClose | number:'.2-2'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="lDelta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>L Delta </th>
      <td class="alignR" mat-cell *matCellDef="let row">
        {{100 * row.lDelta | number:'.2-2'}}%
      </td>
    </ng-container>

    <ng-container matColumnDef="hDelta">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>H Delta </th>
      <td class="alignR" mat-cell *matCellDef="let row">
        -{{100 * row.hDelta | number:'.2-2'}}%
      </td>
    </ng-container>

    <ng-container matColumnDef="lDate">
        <th style="text-align: center;" mat-header-cell *matHeaderCellDef>L Date </th>
        <td style="text-align: center;" mat-cell *matCellDef="let row">
          {{row.lDate | date: 'MM/dd/yyyy'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="lClose">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef>L Close </th>
      <td class="alignR" mat-cell *matCellDef="let row">
        {{row.lClose | number:'.2-2'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="lPos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>L Days Ago </th>
      <td class="alignR" mat-cell *matCellDef="let row">
        <a (click)="setCsvPath(row.csvPath)" href="javascript:"> {{ row.lPos }} </a>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="hDate">
        <th style="text-align: center;" mat-header-cell *matHeaderCellDef>H Date </th>
        <td style="text-align: center;" mat-cell *matCellDef="let row">
          {{row.hDate | date: 'MM/dd/yyyy'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="hClose">
      <th style="text-align: right;" mat-header-cell *matHeaderCellDef> H Close </th>
      <td class="alignR" mat-cell *matCellDef="let row">
        {{row.hClose | number:'.2-2'}}
      </td>
  </ng-container>

    <ng-container matColumnDef="hPos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>H Days Ago </th>
      <td class="alignR" mat-cell *matCellDef="let row">
        <a (click)="setCsvPath(row.csvPath)" href="javascript:"> {{ row.hPos }} </a>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="csvPath">
        <th style="text-align: right;" mat-header-cell *matHeaderCellDef mat-sort-header> Hq History </th>
        <td style="text-align: right;" mat-cell *matCellDef="let row">
          <a (click)="setCsvPath(row.csvPath)" href="javascript:"> H </a>
        </td>
      </ng-container> -->
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
