<div>
    <mat-form-field>
    <mat-label>Tempo</mat-label>
    <input matInput placeholder="Tempo"
        [(ngModel)]="alternateTempo.tempo">
    </mat-form-field>

    <mat-form-field>
    <mat-label>Sound</mat-label>
    <mat-select placeholder="Sound" [(ngModel)]="alternateTempo.sound">
        <mat-option *ngFor="let ta of taCollection | keyvalue"
            [value]="ta.key">{{ta.key}}</mat-option>
    </mat-select>
    </mat-form-field>
</div>
<div>
    <mat-form-field>
    <mat-label>Go Beats</mat-label>
    <input matInput placeholder="Go Beats"
        [(ngModel)]="alternateTempo.goBeats">
    </mat-form-field>

    <mat-form-field>
    <mat-label>Stop Beats</mat-label>
    <input matInput placeholder="Stop Beats"
        [(ngModel)]="alternateTempo.stopBeats">
    </mat-form-field>
</div>
<div>
    <mat-form-field>
    <mat-label>Repeat</mat-label>
    <input matInput placeholder="Repeat"
        [(ngModel)]="alternateTempo.repeat">
    </mat-form-field>

    <mat-label>Estimated Time: {{estimatedTime | date: 'm:s'}} </mat-label>
</div>
