::ng-deep .mat-sort-header-container {
    justify-content: center;
}
th.mat-header-cell {
    text-align: center;
}
.example-container {
    height: 520px;
    overflow: auto;
}
table {
    width: 100%;
}