<mat-form-field>
  <mat-label>Ticker</mat-label>
  <input matInput
    [(ngModel)]="filterValue"
    (keyup)="applyFilter($event)" placeholder="Ex. LABU">
    <button mat-button *ngIf="filterValue"
      matSuffix mat-icon-button aria-label="Clear" (click)="filter('')">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<div class="example-container mat-elevation-z8">
<table mat-table matSort
  [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticker</th>
    <td mat-cell *matCellDef="let row">

    <a *ngIf="row.ticker != filterValue" href="javascript:" (click)="filter(row.ticker)">
      <mat-icon>radio_button_unchecked</mat-icon></a>

    {{ row.ndaysHL }} |

    <a [href]="uiService.hqQUrl(row.ticker)"
        target="_blank">
        {{row.ticker}}</a> |
    <a [href]="uiService.hqCUrl(row.ticker)"
        target="_blank">
        C</a> |
    <a [routerLink]="['/hqhistory/:csvPath']"
        [queryParams]="{csvPath: uiService.csvPath(row)}"
        target="_blank">H</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let row">
      {{row.date | date: 'MM/dd/yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="close">
    <th mat-header-cell *matHeaderCellDef>Close</th>
    <td class="alignR" mat-cell *matCellDef="let row">
      {{row.close | number:'.2-2'}}</td>
  </ng-container>

  <ng-container matColumnDef="cChange">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>C %</th>
    <td [class]="uiService.cssGainLoss(row.cChange)" mat-cell *matCellDef="let row">
      {{100 * row.cChange | number:'.2-2'}}%
    </td>
  </ng-container>

  <ng-container matColumnDef="vChange">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>V %</th>
    <td [class]="uiService.cssGainLoss(row.vChange)" mat-cell *matCellDef="let row">
      {{100 * row.vChange | number:'.2-2'}}%
    </td>
  </ng-container>

  <ng-container matColumnDef="lvPos">
  <th mat-header-cell *matHeaderCellDef mat-sort-header><b>LV Pos</b></th>
  <td style="color: blue; text-align: center;" mat-cell *matCellDef="let row">
      {{ row.lvPos }}</td>
  </ng-container>

  <ng-container matColumnDef="lvDate">
    <th mat-header-cell *matHeaderCellDef>LV Date</th>
    <td style="text-align: center;" mat-cell *matCellDef="let row">
      {{row.lvDate | date: 'MM/dd/yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="hvPos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>HV Pos</th>
    <td class="td-center" mat-cell *matCellDef="let row">
      {{ row.hvPos }}</td>
  </ng-container>

  <ng-container matColumnDef="hvDate">
    <th mat-header-cell *matHeaderCellDef>HV Date</th>
    <td style="text-align: center;" mat-cell *matCellDef="let row">
      {{row.hvDate | date: 'MM/dd/yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="lcPos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>LC Pos</b></th>
    <td class="td-center" mat-cell *matCellDef="let row">
      {{ row.lcPos }}</td>
  </ng-container>

  <ng-container matColumnDef="lcDate">
    <th mat-header-cell *matHeaderCellDef>LC Date</th>
    <td style="text-align: center;" mat-cell *matCellDef="let row">
      {{row.lcDate | date: 'MM/dd/yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="lClose">
    <th mat-header-cell *matHeaderCellDef>LC</th>
    <td class="alignR" mat-cell *matCellDef="let row">
      <u>{{row.lClose | number:'.2-2'}}</u></td>
  </ng-container>

  <ng-container matColumnDef="lcChange">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>LC%</th>
    <td class="alignR" mat-cell *matCellDef="let row">
    <u>{{100 * row.lcChange | number:'.2-2'}}%</u></td>
  </ng-container>

  <ng-container matColumnDef="hcPos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><b>HC Pos</b></th>
    <td class="td-center" mat-cell *matCellDef="let row">
      {{ row.hcPos }}</td>
  </ng-container>

  <ng-container matColumnDef="hcDate">
    <th mat-header-cell *matHeaderCellDef>HC Date</th>
    <td class="td-date" mat-cell *matCellDef="let row">
      {{row.hcDate | date: 'MM/dd/yyyy'}}</td>
  </ng-container>

  <ng-container matColumnDef="hClose">
    <th mat-header-cell *matHeaderCellDef>HC</th>
    <td class="alignR" mat-cell *matCellDef="let row">
    <u>{{row.hClose | number:'.2-2'}}</u></td>
  </ng-container>

  <ng-container matColumnDef="hcChange">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>HC%</th>
    <td class="alignR" mat-cell *matCellDef="let row">
    <u>{{100 * row.hcChange | number:'.2-2'}}%</u></td>
  </ng-container>

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>