::ng-deep .mat-sort-header-container {
    justify-content: center;
}
th.mat-header-cell {
    text-align: center;
}
.td-date {
    text-align: center;
}
.td-center {
    text-align: center;
}
.example-container {
    height: 480px;
    overflow: auto;
}
table {
width: 100%;
}