/* You can add global styles to this file, and also import other style files */
.gain {
    color: green;
    text-align: right;
}
.loss {
    color: red;
    text-align: right;
}
.alignR {
    text-align: right;
}