<mat-card>
  <mat-card-title>
    Count Helper
  </mat-card-title>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Alternate Tempo: Go {{batCounter.alternateTempo.goBeats}}, Stop {{batCounter.alternateTempo.stopBeats}}
    </mat-expansion-panel-header>
  
    <app-alternate-tempo-form [alternateTempo]="batCounter.alternateTempo"></app-alternate-tempo-form>
  
  </mat-expansion-panel>

  <br>

  <mat-card-content>
  <div>
      <mat-form-field>
      <mat-label>Target Count</mat-label>
      <input matInput placeholder="Target Count" [(ngModel)]="batCounter.targetCount">
      </mat-form-field>

      <mat-form-field>
      <mat-label>Estimated Time</mat-label>
      <input matInput placeholder="Estimated Time"
        value="{{estimatedTime | date: 'm:s'}}" readonly>
      </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Counting</mat-label>
      <input matInput placeholder="Counting"
        value="{{batMulticastService.count}}" readonly>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Run Time</mat-label>
      <input matInput placeholder="Run Time"
        value="{{batMulticastService.runTime | date: 'm:s'}}" readonly>
    </mat-form-field>
  </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button *ngIf="!batMulticastService.inSession"
        (click)="batMulticastService.start(batCounter)">
        <mat-icon>play_arrow</mat-icon>Start</button>
    <button mat-raised-button *ngIf="batMulticastService.inSession"
        (click)="batMulticastService.stop()">
        <mat-icon *ngIf="batMulticastService.inSession && batMulticastService.tempoBeat == 0">autorenew</mat-icon>
        <mat-icon *ngIf="batMulticastService.inSession && batMulticastService.tempoBeat == 1">cached</mat-icon>
        <mat-icon>volume_up</mat-icon><mat-icon>stop</mat-icon>Stop</button>
    <!-- <button mat-flat-button><mat-icon>volume_up</mat-icon></button> -->
  </mat-card-actions>
</mat-card>